#set($file = 'block-example-base.vm')
#set($var0 = 'defined')
#set($var1 = 'base')
#defvar($var2, 'base')
#block('block0')
block0@base:
  file = $file
  var0 = $var0
  var1 = $var1
  var2 = $var2
#end
#block('block1')
block1@base:
#end
#block('block2')
block2@base:
  file = $file
  var0 = $var0
  var1 = $var1
  var2 = $var2
#end
